* {
  margin: 0px;
  padding: 0px;
  width: auto;
  margin: 0 auto;
}
.header {
  background-color: #e39ff8;
  height: 60px;
  padding: 0px;
  min-width: 900px;
}

.Service_name {
  line-height: 60px;
  font-size: 30px;
  padding-left: 20px;
  display: block;
}
.main {
  height: 300px;
  min-width: 900px;
  background-image: url("sample.jpg");
  background-size: cover;
}
.introduce {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 100px;
  width: 900px;
}
.b {
  font-size: 50px;
  padding: 50px;
}
.explain {
  font-size: 20px;
  width: 500px;
  text-align: center;
  margin: 0 auto;
}
.taguitiran {
  text-align: center;
}
.tagList {
  margin: 0 50px;
}
td {
  padding: 20px;
}
